In [38]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [47]:
with open("carteira.txt", "r") as arquivo:
    linhas = arquivo.readlines()

carteira = {}
for linha in linhas:
    ticker, valor = linha.split("-")
    ticker = f"{ticker.strip()}.SA"
    valor = float(valor.strip())
    print(ticker, valor)
    carteira[ticker] = valor
    
print(carteira)

ITUB4.SA 1000.0
BBAS3.SA 2000.0
VALE3.SA 1000.0
EGIE3.SA 500.0
SLCE3.SA 300.0
{'ITUB4.SA': 1000.0, 'BBAS3.SA': 2000.0, 'VALE3.SA': 1000.0, 'EGIE3.SA': 500.0, 'SLCE3.SA': 300.0}

In [52]:
ativos = list(carteira.keys())
if "^BVSP" not in ativos:
    ativos.append("^BVSP")

data_inicio = "2024-01-01"
data_fim = datetime.now().strftime("%Y-%m-%d")

print("Baixando cotações...")
tabela_cotacoes = yf.download(ativos, start=data_inicio, end=data_fim, progress=False)["Close"]
display(tabela_cotacoes)

Baixando cotações...

Ticker       BBAS3.SA   EGIE3.SA   ITUB4.SA   SLCE3.SA   VALE3.SA     ^BVSP
Date
2024-01-02  25.261513  41.862671  31.221712  17.552208  70.522316  132697.0
2024-01-03  25.284578  41.843864  30.877077  17.676556  70.156204  132834.0
2024-01-04  25.017017  41.721622  30.672165  17.456556  69.213470  131226.0
2024-01-05  25.316868  41.655804  31.389359  17.714817  68.325645  132023.0
2024-01-08  25.533688  41.354904  31.054049  17.561773  67.977837  132427.0
...               ...        ...        ...        ...        ...       ...
2025-01-30  27.639999  36.849998  34.012234  17.889999  55.029999  126913.0
2025-01-31  27.680000  36.799999  33.792351  17.360001  54.169998  126135.0
2025-02-03  27.610001  36.310001  33.480000  17.480000  54.209999  125970.0
2025-02-04  27.770000  36.099998  33.599998  17.629999  54.020000  125147.0
2025-02-05  27.830000  35.630001  34.110001  18.110001  54.310001  125534.0

[276 rows x 6 columns]

In [60]:
rentabilidades = {
    ativo: tabela_cotacoes[ativo].iloc[-1] / tabela_cotacoes[ativo].iloc[0] - 1
    for ativo in tabela_cotacoes.columns
}
print(rentabilidades)

{'BBAS3.SA': np.float64(0.10167590484908695), 'EGIE3.SA': np.float64(-0.14888371182630145), 'ITUB4.SA': np.float64(0.0925089722025596), 'SLCE3.SA': np.float64(0.031779059663922915), 'VALE3.SA': np.float64(-0.22988914048908526), '^BVSP': np.float64(-0.053980120123288344)}

In [59]:
valor_inicial = sum(carteira.values())
print(f"Valor inicial: R$ {valor_inicial:,.2f}")

valor_final = sum(carteira[ativo] * (1 + rentabilidades[ativo]) for ativo in carteira)
print(f"Valor final: R$ {valor_final:,.2f}")

rentabilidade_carteira = valor_final / valor_inicial - 1
print(f"Rentabilidade da carteira: {rentabilidade_carteira:.1%}")

rentabilidade_indice = rentabilidades["^BVSP"]
print(f"Rentabilidade do índice BVSP: {rentabilidade_indice:.1%}\n")

Valor inicial: R$ 4,800.00
Valor final: R$ 4,801.06
Rentabilidade da carteira: 0.0%
Rentabilidade do índice BVSP: -5.4%